
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description | escape }}</p> <a href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="images/License-CC BY--SA 4.0-lightgrey.svg" alt="CCC BY SA 4.0"</a>
      </div>
    </div>

    <div class="social-links">
      <a href="https://join.slack.com/t/aquaristlabs/shared_invite/zt-nphn0jhg-QYKw__It8JPMkUR_sArOug"><img src="images/social-media-icon-slack.svg" alt="Join us on Slack!" width="60" height="60"</a>
      <a href="https://github.com/aquarist-labs/aquarium"><img src="images/GitHub-Mark-32px.png" alt="GitHub"</a>
    </div>

    <div class="license">
    </div>

  </div>

</footer>
